.houses-container {
    display: grid;
    gap: 1rem;
}

mat-form-field input, .search-field{
    border-radius: 0.5rem;
}

.houses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.empty-state {
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: #666;
}
